@{
    ViewBag.Title = "Update Tractor";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@model TractorBG.Model.updateTractorModel

<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Update the desired tractor</p>
						<h1>Update Tractor</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<div class="contact-form mt-150 mb-150">
		<center>
			<form action="/Home/UpdateTractor" method="post">
				<input type="hidden" name="model.id" id = "model.id" value="@Model.id"></input>
				<p>
					<input type="text" placeholder="@Model.brand" name="model.brand" id="model.brand">
				</p>
				<p>
					<input type="text" placeholder="@Model.model" name="model.model" id="model.model">
				</p>
				<p>
					<input type="text" placeholder="@Model.description" name="model.description" id="model.description">
				</p>
				<p>
					<input type="number" min="1950" max="2023" placeholder="@Model.year" name="model.year" id="model.year">
				</p>
				<p><input type="submit" value="Update"></p>
			</form>
		</center>	
	</div>